@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
 

}
.cls{
    border-radius:0px!important;
    padding:0px!important;
    width:100%!important;
    left: 0px !important;
   

}

button,a,Link{
    cursor: pointer;
	text-decoration: none;
}
:root,body{
	overflow-x: hidden;
	-webkit-overflow-x:hidden;
	-moz-overflow-x:hidden;
	-ms-overflow-x:hidden;
	-o-overflow-x:hidden;

background-color: #EEEEEE;
	
}
.header{
	
	position: fixed;
	/* position: absolute; */
width:100vw;
height: 3.90625vw;
left: 0;
top:  0;
z-index: 100;
/* background: #EB671B; */
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
overflow: auto;
/* margin-bottom: 5vw; */

}
.logo{
	/* position: absolute; */
	width: 4.0151041666667vw;
	height:  2.5432291666667vw;
	left:  8.3333333333333vw;
	top: 0.67708333333333vw;
}
.header-box{
	/* position: absolute; */
	width: 10.416666666667vw;
	/* height:  1.9791666666667vw; */
	left: 16.822916666667vw;
	top:  1.0416666666667vw;
/* background-color: red; */
	
}
.header-icons{
	/* position: absolute; */
	/* background-color: red; */
	width: 9.65625vw;
	/* top: 1vw; */
	/* left: 0; */
	
}
.desc{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 0.56875vw;
line-height: 0px;

/* identical to box height, or 0% */

color: #FFFFFF;
margin-top: .5vw;
}
.search-box{
	/* position: absolute; */
width:41.979166666667vw;
height: 2.4479166666667vw;
left: 50.625vw;
top: 0.72291666666667vw;

/* background: #FFFFFF; */
display: flex;
align-items: center;
justify-content: center;
}
.search-text,.search-text a input[type=text]{
	/* background-color: #dbac91; */
	width: 73% ;
	height: 100%;
	/* position: absolute; */
	/* right: 7%; */
	border: none;
	color: gray;
	/* flex-grow: 1; */
padding-left: 1%;
font-size: 0.925vw;
/* background-color: rgb(250, 209, 209); */

}
.search-text a input[type=text]{
	width: 100% ;
}
.search-text a input[type=text]:focus{
	outline: none;
}
.search-text:focus{
	outline: none;
}
.search-Icon{
	/* background-color: red; */
	height: 100%;
	 /* width: 7%; */
	 flex-grow: 1;
	 display: flex;
	 justify-content: center;

	 align-items: center;
}
.category-name{
	/* position: absolute; */
width:  8.6vw;
height: 2.4479166666667vw;


/* background: #F9EDE5; */
display: flex;
justify-content: space-around;
align-items: center;
}
.span-category-name{
	/* width: 4.8958333333333vw; */
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size:  0.765vw;
line-height: 133%;

/* identical to box height, or 133% */
text-align: center;
text-transform: capitalize;
/* color: #EB671B; */
}
.BigCart{
	position: relative;
width: 27.916666666667vw;
/* height: ; */
/* left: 78px;
top: 199px; */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
background: transparent;
border-radius: 0.52083333333333vw;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);

/* background-color: antiquewhite; */
}
.containerr{
	display: block;
	width: 80vw;
	margin: auto;
	/* background-color: rgb(51, 153, 56); */
}
.BigCart-text{
	position: absolute;
/* width: 13.125vw;
height: 0px; */
left:  1.4791666666667vw;
bottom:  5%;
/* color: red; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1.8229166666667vw;
/* line-height: 0%; */
/* background-color: red; */
/* identical to box height, or 0% */

/* color: #FFFFFF; */

text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
}
.SmallCart{
	/* width: 13.541666666667vw; */
/* height: 19.6875vw; */
/* background-color: ; */
}
.SmallCart-img{
	width: 100%;
	height: 12.5vw;
}
.SmallCart-details{
	padding:  .5vw;
	/* background-color: red; */
}
.BigCartInDashboard-details{
	padding:  1vw;
	/* background-color: red; */
	/* height: 100%; */
}
.ask-about-button{
	width: 6.25vw;
height: 1.40625vw;
border: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.725vw;
/* line-height:133%; */

/* identical to box height, or 133% */

color: #FFFFFF;
}
.SmallCart-details-title{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:  0.9375vw;
/* line-height: 0px; */

/* identical to box height, or 0% */


}
.SmallCart-details-desc{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 0.625vw;
margin-top: 1vw;
/* line-height: 0px; */
/* background-color: red; */
/* identical to box height, or 0% */


}
.dashboard{
	
box-sizing: border-box;

position: fixed;
width: 14.479166666667vw;
height: 49.0625vw;
left: 6.40625vw;
top:3.90625vw;
overflow: visible;
background: #FFFFFF;
border-bottom: 0.052083333333333vw solid #707070;
border-left: 0.052083333333333vw solid #707070;
border-right: 0.052083333333333vw solid #707070;
/* padding: 2vw; */
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
/* z-index: 1; */
box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);}
.dashboard-title{

font-family: 'Montserrat';
font-style: normal;
font-weight:  700;
font-size:  0.9375vw;
/* line-height: 89%; */

/* identical to box height, or 89% */



}
.text{
	font-size: 0.725vw;
	
	/* font-family: 'Montserrat'; */
	font-style: normal;
	font-weight: 400;
	/* identical to box height, or 208% */
	/* line-height: 13%; */
}
.Checkbox{
	
box-sizing: border-box;

/* position: absolute; */
width:99.8%;
/* height: 4.7395833333333vw; */
/* left: 0; */
top: 10vw;
margin: auto;
background: #ffffff;
border-top: 0.052083333333333vw solid #707070;
border-bottom: 0.052083333333333vw solid #707070;
/* border-right: 1px solid #707070; */
padding: 2vw;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
}
.BigCartInDashboard{
	/* position: relative; */
	/* width:  100%; */
	height: 13.4375vw;
	margin-bottom:  1.5104166666667vw;
}
.BigCartInDashboard-img{
	/* width: 13.541666666667vw; */
	 /* height: 13.4375vw;; */
	 /* overflow-y: hidden; */
}
.Price-options{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 0.725vw;
/* line-height: 133%; */

/* identical to box height, or  */


}
.qtyInput{
	width: 5vw;
	height: 1.5vw;

}
input.qtyInput:focus{
	outline:  none;
	border: 0.1vw solid  #EB671B;
}
.stepper{
	width: 100vw;
	height: 28.75vw;
	/* background-color: red; */
}
.Stepper-photo{
	position: absolute;
width:14.367708333333vw;
height:12.7921875vw;
left: 14.479166666667vw;
top:  8.3791666666667vw;
/* background-color: red; */
/* display: flex;
justify-content:center;
flex-direction: column;
align-items:center; */


}
.footer-Stepper-photo{
	width:  15.197916666667vw;
	height: 9.375vw;
	/* background-color: red; */
}
.Stepper-desc-1{
	color: white;
	font-weight: 700;
	/* font-size:; */
	font-family: "Montserrat";
	margin: 0.2vw 0;
}
.Stepper-desc-2{
	color: white;
	font-weight: 600;
	/* font-size:0.725vw; */
	font-family: "Montserrat";
}
.home-search-box-parent{
	width: 100vw;
	height: 5.2604166666667vw;
display: flex;
justify-content: center;
align-items: center;	

}
.home-search-box{
	/* position: absolute; */
width:41.979166666667vw;
height:  2.4541666666667vw;
/* left:  29.010416666667vw;
top:30.352604166667vw; */
/* background-color: rgb(238, 208, 208); */


}
.NewProductsArrivedBox{
	position: absolute;
	top: 34.004166666667vw;
	/* height: 100%; */
	width: 100vw;
	/* height: 200.94166666667vw; */
	background-color: white;

}
.NewProductsArrived{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:  1.5625vw;

text-align: center;
display: block;
margin-top: 1vw;
/* identical to box height, or 0% */



}
.NewProducts{
	/* background-color: red; */
	width: 100%;
	margin-left:  7.0833333333333vw;
	margin-top:  3.3333333333333vw;
}
.swiper {
	
	height:  24.0833333333333vw;
	margin-top: 2.96875vw;
	
  }
  .see-more-btn{
	width:  7.1875vw;
height: 2.0833333333333vw;
border: none;
color: #FFFFFF;
font-size: 0.825vw;
font-weight: 700;
font-family: 'Montserrat';
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
display: block;
margin:  auto;
  }
  .home-landing-cover{
	width: 100vw;
	height: 20.520833333333vw;
	background-image: url('./images//akhil-yerabati-Q2uV5TkjNz8-unsplash.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 2.4479166666667vw;
  }
  .about span{
	margin-top:  3.0729166666667vw;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:1.5625vw;
line-height: 0px;
  }
  .about-desc{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.825vw;
margin-top: 2.0833333333333vw;
  }
  .AboutCard{
	width: 20.729166666667vw;
height: 15.052083333333vw;


background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
padding: 1.5vw;
display: flex;
flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 0 0.5vw;
  }
  .AboutCard-circle{
	width: 5.1041666666667vw;
	height: 5.1041666666667vw;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
 .AboutCard-desc{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.825vw;
margin-top: 0.725vw;
 }
 .easy-box{
	position: relative;
	width: 100vw;
	height: 32.7609375vw;
	margin-top: 110.94166666667vw;
	/* background-color: ; */
 }
 .easy-box-content{
	 position: absolute;
	width: 71.041666666667vw;
height: 22.835416666667vw;
	top:  7.0833333333333vw;
	left:  14.479166666667vw;
	/* background-color: bisque; */
 }
 .easy-box-content-title{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:  1.5625vw;

}
.googlePlay-box{
	width: 13.958333333333vw;
	height:  5vw;
	padding: 0.1vw;
	
}
.footer{
	position: relative;
	width: 100vw;
	height: 12.916666666667vw;
}
.footerContent{
	position: absolute;
width: 67.708333333333vw;
height:  9.1666666666667vw;
left: 7.7083333333333vw;

top: 1.9791666666667vw;
/* background-color: rgb(182, 117, 31); */
}
.Product-sec-1{
	padding: 2vw 1vw;
}
.Product-images{
	width: 100%;
	height: 5.5729166666667vw;
	/* background-color: red; */
	margin-top:  0.67708333333333vw;
}

  .product-desc{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 0.825vw;
	margin-top: 1vw;
  }
  .Product-ID{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 0.725vw;
line-height: 250%;

/* or  */


  }
.QTYBox{
	position: fixed;
	width:13.489583333333vw;
	/* height: 298px; */
	top: 7vw;
	
	left: 79.21875vw;
	background: #FFFFFF;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	padding: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}
.qty-box{
	width:9.0104166666667vw;
height: 2.34375vw;

background: #FFFFFF;
/* border:; */
font-size: 0.825vw;
color: gray;
padding: 0.5vw;
}
.qty-box:focus{
	outline: none;
}
.DownloadFileButton{
	width:  9.0104166666667vw;
height: 3.125vw;

margin: .5vw 0;
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.text{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 0.625VW;
/* line-height: 417%; */

/* identical to box height, or 417% */
}
.centerlize-box{
	width: 29.583333333333vw;
	height: 17.552083333333vw;
	background-color: antiquewhite;
	position: absolute;
	border-radius:  1.40625vw;
	top:  10.375vw;
	left:  35.208333333333vw;
	background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
}
.popup-text{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.0416666666667vw;
line-height: 175% ;

/* or 175% */
text-align: center;

color: #3B3937;
margin-top:  1.0416666666667vw;

}
.grandParent-pop-up{
	position: fixed;
	z-index: 1000;
	/* background-color: red; */
	width: 50vw;
	height: 50vw;
	left: 0;
	top: 3vw;
	perspective: 200;
}
.firstQTYBox{
	width: 100%;
	/* height: 298px; */
	
	
	background: #FFFFFF;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	padding: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.poper-parent{
	width: 100vw;
	height: 100vh;
	/* background-color:red; */
	position: absolute;
	top:  7.90625vw;
	left: 0;
	z-index: 200;
}
.BigCart-text-Open{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2.6041666666667vw;
/* line-height: 32%; */

/* identical to box height, or  */
text-align: center;

color: #FFFFFF;

text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.37);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.mini-dashboard{
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4)

}
.containerr-tow{
	display: block;
	width: 71.927083333333vw;
	margin: auto;
}
a{
	text-decoration: none;
}
.test{
	width: 10vw;
	height: 10vw;
	background-color: red;
}
.qty-box-mini{
	width: 11.875vw;
height: 2.34375vw;

background: #FFFFFF;
/* border:; */
font-size: 0.825vw;
color: gray;
padding: 0.5vw;

}
.qty-box-mini:focus{
	outline: none;
}
.ask-about-button-del{
	/* padding: .3vw 0; */
	height:  2.0833333333333vw;
	border:  0.052083333333333vw solid;

}
.firstSectionInOrders{
	width: 21.5625vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.name-input{
	width: 100%;
	padding: .6vw;
border: none;
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
border-radius:  0.26041666666667vw;
color: rgb(85, 84, 84);
margin:  .6vw 0;
font-size: 0.9375vw;
}
.name-input::placeholder,textarea::placeholder{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 0.725vw;
/* line-height: 16px; */

/* identical to box height, or 133% */
/* text-align: center; */

color: #EB671B;
opacity: 1;
/* color: #4daa72; */

}
.name-input::selection{
	/* display: none; */
}

.profile-box{
	width:  42.291666666667vw;
	height: 48.125vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding:3.503125vw;
}
.Welcome{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1.5625vw;
/* line-height: 53%; */

/* identical to box height, or  */
text-align: center;


}
input{
	padding: .4vw;
	color: #707070;
	font-size: 0.825vw;
}
::placeholder{
	font-size: 0.825vw;	
}
label{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 0.625vw;
}
.vl {
	border-left:  0.20416666666667vw solid gray;
	
	
  }
  .welcome{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:1.5625vw;
margin-left: 1vw;
/* margin:  10.0833333333333vw 0; */


  }
 .allOrder{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.825vw;



 }
 .Order{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:  0.88541666666667vw;


color: #FFFFFF;


 }
 .Order-num{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size:  0.625vw;


color: #FFFFFF;
 }
 .circle{
	width: 3.8020833333333vw;
	height: 3.8020833333333vw;
	background-color: #EB671B;
	border-radius: 50%;
	margin-right: -.5vw;
 }
 .note{
	width: 100%;
height: 10.8697916666667vw;

resize: none;
mix-blend-mode: normal;
/* opacity: 0.5; */
border: 0.052083333333333vw solid #dad8d8;
margin: auto;
padding: .6vw;
display: flex;

justify-content: space-between;
align-items: center;
/* color: #1E1C1B; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.9375vw;
resize: none;
 }
 .note-notification{
	
	width: 100%;
height: 5.8697916666667vw;

resize: none;
mix-blend-mode: normal;
/* opacity: 0.5; */
border: 0.052083333333333vw solid #dad8d8;
margin: auto;
padding: 2vw;
display: flex;

justify-content: space-between;
align-items: center;
/* color: #1E1C1B; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.9375vw;
resize: none;
 }
 .lang{

	position: absolute;
	width: 2.5vw;
	height:  1.3020833333333vw;
	left:  92.270833333333vw;
	top: 0.86510416666667vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
color: #b1afaf;

 }